.index{
  height:3rem;
  width:3rem;
  border:1px solid #ccc;
  border-radius:50%;
  margin-inline-end:10px;
  color:#ccc;
  font-weight:bold;
  font-size:1.4rem;
  display:flex;
  justify-content: center;
  align-items: center;

}

.height{
  height:100%;
}